@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout_clinet.cshtml";
}

<div id="main">
    <!-- Section 1 -->
    <section class="main___QK22t color-theme-black">
        <div class="dynamic-img-container___1kH_M">
            <picture>
                <img src="~/Images/YEEZY_BOOST_700_MNVN_HONEYFLUX_HP_DT_1920x800_tcm337-763497.jpg" class="andi_img" alt="">
                <img src="~/Images/GZ0717_01_standard.jpg" alt="" class="hienthi_img">
            </picture>
        </div>
        <div class="content___TDqvl body-position-left___sbK5D">
            <div class="poster_content___39q_N col-s-12 col-m-6 col-l-8 col-l-10 col-xl-8">
                <h2 class="title___1vL99">YEEZY BOOST 700 MNVN <br> HONEYFLUX</h2>
                <div class="summary___37JYH"><br><p>COMING SOON 20 SEP</p></div>
                <div class="btn">
                    <button><a href="#">Preview now <i class="fas fa-arrow-right"></i></a></button>
                </div>
            </div>
        </div>
    </section>


    <!-- Section 2 -->
    <section class="main___QK22t color-theme-black">
        <div class="dynamic-img-container___1kH_M">
            <picture>
                <img src="~/Images/running-4dfwd-launch-fw21-ch3-digital-sustain-glp-m-masthead-large-d_tcm337-709521.jpg" class="andi_img" alt="">
                <img src="~/Images/running-4dfwd-launch-fw21-ch3-digital-sustain-glp-m-masthead-large-t_tcm337-709520.jpg" alt="" class="hienthi_img">
            </picture>
        </div>
        <div class="content___TDqvl body-position-left___sbK5D">
            <div class="poster_content___39q_N col-s-12 col-m-6 col-l-8 col-l-10 col-xl-8">
                <h2 class="title___1vL99">4DFWD. TAKE IT <br> FORWARD.</h2>
                <div class="summary___37JYH"><br><p>Cho chuyển động mượt mà và trải nghiệm lướt bay độc đáo.</p></div>
                <div class="btn">
                    <button><a href="#">MUa ngay <i class="fas fa-arrow-right"></i></a></button>
                </div>
            </div>
        </div>
    </section>


    <!-- Section 3 -->
    <section class="Product_balo">
        <div class="fix-container">
            <h2 class="title">STILL INTERESTED?</h2>
            <h4 class="title-1">Ba Lô Classic Adicolor</h4>

            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/155dda69b20741189782ad1a00b1e143_9366/ba-l%C3%B4-3-s%E1%BB%8Dc-badge-of-sport-classic.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/155dda69b20741189782ad1a00b1e143_9366/ba-l%C3%B4-3-s%E1%BB%8Dc-badge-of-sport-classic.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/d479663f95074bba80f5a6c7009c03f5_9366/b%E1%BB%99-3-%C4%91%C3%B4i-t%E1%BA%A5t-cao-c%E1%BB%95.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/590ee00437e9461b98b4a9de01299fd5_9366/b%E1%BB%99-6-%C4%91%C3%B4i-t%E1%BA%A5t-c%E1%BB%95-ng%E1%BA%AFn.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/b3f58eed8ee6433297c6ad1a00b2c459_9366/H34809_00_plp_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/f80f2439e1b046d8b2b9ac710153b001_9366/GN3074_00_plp_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/f7b3df22026b42b8b539a9d300adb52b_9366/DZ9416_00_plp_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/eb3ffa7db3c941aaa02fad1900bed30b_9366/GU0877_00_plp_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/6558a87563a34523bfcdacd201543481_9366/H30336_00_plp_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/155dda69b20741189782ad1a00b1e143_9366/ba-l%C3%B4-3-s%E1%BB%8Dc-badge-of-sport-classic.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/48ac77b6f5cb4a6690feac84017a5194_9366/GQ9352_21_model.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/155dda69b20741189782ad1a00b1e143_9366/ba-l%C3%B4-3-s%E1%BB%8Dc-badge-of-sport-classic.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/c008ade358794be8b742aa4e01477736_9366/ED7820_01_laydown.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next">
                </div>
                <div class="swiper-button-prev">
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>


    <!-- Section 4 : POPULAR RIGHT NOW -->
    <section class="POPULAR-RIGHT-NOW mt-6 pt-6">
        <div class="fix-container">
            <div class="title-wrapper">
                <h2 class="title title-simple mb-300">POPULAR RIGHT NOW</h2>
                <div class="keywords___3OtDK">
                    <a href="#" class="gl-filter keyword___1pfOO uppercased___1YiBt">NMD</a>
                    <a href="#" class="gl-filter keyword___1pfOO uppercased___1YiBt">Superstar</a>
                    <a href="#" class="gl-filter keyword___1pfOO uppercased___1YiBt">dép</a>
                    <a href="#" class="gl-filter keyword___1pfOO uppercased___1YiBt">Giày</a>
                    <a href="#" class="gl-filter keyword___1pfOO uppercased___1YiBt">yeezy</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Section 5 : New ARRIVALS -->
    <section class="Product_balo best-of-adidas New_Porduct mt-6 pt-6 mt-6">
        <div class="fix-container">
            <div class="new-top">
                <h2 class="title">New ARRIVALS</h2>
                <h4 class="review"><a href="#">View ALL</a></h4>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product">
                            <a href="../Product/index.html">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/3b3fe645626949d38b3dad4901167df9_9366/Giay_NMD_R1_DJen_GV8422_01_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/bab925ce4f0b4a2db723ad2c00c488fc_9366/Giay_NMD_R1_trang_GX0999_01_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/500006597a33495fbc86ad2c00c4e94c_9366/Giay_Forum_Low_trang_GX1018_01_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/500006597a33495fbc86ad2c00c4e94c_9366/Giay_Forum_Low_trang_GX1018_01_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/ec0b19ad7469423bb8e2ad2c00cae6b2_9366/Giay_Forum_Mid_trang_GX1021_01_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/c2f25ff6d7084c699b83acf400a1a7d2_9366/Giay_Zentic_Mau_vang_GZ6983_01_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/42b4291e78a6420baba6acf4009b5e16_9366/Giay_Zentic_DJen_GX0417_01_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/7445d7d8438b4a04b479ad2c00c4b66f_9366/Giay_ZX_2K_Boost_2.0_trang_GX1007_01_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/9973aa5fbe6147938f02ad9e015da722_9366/YEEZY_BOOST_700_MNVN_trai_cam_GZ0717_01_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/cf659eee859644a993b1ad160171d785_9366/Dep_adilette_Hong_GY8288_01_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next">
                </div>
                <div class="swiper-button-prev">
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>


    <!-- Section 6 : POPULAR RIGHT NOW -->
    <section class="POPULAR-right-now pt-6">
        <div class="fix-container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="wallpaperWrapper___-q6gq">
                        <div class="wallpaperWrapper___top">
                            <img class="container___1hJPV" src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/viVN/Images/originals-fw21-pw-nerd-teaser-d_tcm337-726307.jpg" alt="">
                        </div>

                        <div class="wallpaperWrapper___bottom">
                            <span class="title___3i4il gl-body"><strong class="withhtml">PHARRELL WILLIAMS HU NMD N.E.R.D.</strong></span>
                            <p class="summary___3soIS gl-body">Pharrell tôn vinh album đầu tay của N.E.R.D với phiên bản mới mẻ cho kiểu dáng giày đặc trưng của mình.</p>
                            <div class="wallpaperWrapper-btn mt-2">
                                <a href="#">Mua ngay <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="wallpaperWrapper___-q6gq">
                        <div class="wallpaperWrapper___top">
                            <img class="container___1hJPV" src="~/Images/2021-09-20_012119.png" alt="">
                        </div>

                        <div class="wallpaperWrapper___bottom">
                            <span class="title___3i4il gl-body"><strong class="withhtml">Stay in Play</strong></span>
                            <p class="summary___3soIS gl-body">Quần Bó Nguyệt San Techfit bổ sung lớp bảo vệ.</p>
                            <div class="wallpaperWrapper-btn mt-2">
                                <a href="#">Mua ngay <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section 7 : Shopping -->
    <section class="Shopping pt-6">
        <div class="fix-container">
            <div class="title-wrapper pb-2">
                <h2 class="title title-simple mb-300">WHO ARE YOU SHOPPING FOR?</h2>
            </div>

            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <!-- categories 1 -->
                    <div class="owl-item">
                        <a href="#">
                            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/viVN/Images/updated_gender_women_dt_tcm337-636701.jpg" alt="">
                        </a>
                        <div class="category-content">
                            <h4 class="category-name">Women</h4>
                        </div>
                    </div>

                    <!-- categories 2 -->
                    <div class="owl-item">
                        <a href="#">
                            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/viVN/Images/updated_gender_men_dt_tcm337-636698.jpg" alt="">
                        </a>
                        <div class="category-content">
                            <h4 class="category-name">Men</h4>
                        </div>
                    </div>

                    <!-- categories 3 -->
                    <div class="owl-item">
                        <a href="#">
                            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/viVN/Images/updated_gender_kids_dt_tcm337-636695.jpg" alt="">
                        </a>
                        <div class="category-content">
                            <h4 class="category-name">Kids</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section 8 : BEST OF ADIDAS -->
    <section class="Product_balo best-of-adidas mt-6 pt-6 New_Porduct">
        <div class="fix-container">
            <div class="new-top">
                <h2 class="title">BEST OF ADIDAS</h2>
                <h4 class="review"><a href="#">View ALL</a></h4>
            </div>

            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/155dda69b20741189782ad1a00b1e143_9366/ba-l%C3%B4-3-s%E1%BB%8Dc-badge-of-sport-classic.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/155dda69b20741189782ad1a00b1e143_9366/ba-l%C3%B4-3-s%E1%BB%8Dc-badge-of-sport-classic.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/d479663f95074bba80f5a6c7009c03f5_9366/b%E1%BB%99-3-%C4%91%C3%B4i-t%E1%BA%A5t-cao-c%E1%BB%95.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/590ee00437e9461b98b4a9de01299fd5_9366/b%E1%BB%99-6-%C4%91%C3%B4i-t%E1%BA%A5t-c%E1%BB%95-ng%E1%BA%AFn.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/b3f58eed8ee6433297c6ad1a00b2c459_9366/H34809_00_plp_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/f80f2439e1b046d8b2b9ac710153b001_9366/GN3074_00_plp_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/f7b3df22026b42b8b539a9d300adb52b_9366/DZ9416_00_plp_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/eb3ffa7db3c941aaa02fad1900bed30b_9366/GU0877_00_plp_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/6558a87563a34523bfcdacd201543481_9366/H30336_00_plp_standard.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/155dda69b20741189782ad1a00b1e143_9366/ba-l%C3%B4-3-s%E1%BB%8Dc-badge-of-sport-classic.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/48ac77b6f5cb4a6690feac84017a5194_9366/GQ9352_21_model.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/155dda69b20741189782ad1a00b1e143_9366/ba-l%C3%B4-3-s%E1%BB%8Dc-badge-of-sport-classic.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <a href="">
                                <div class="product-image">
                                    <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/c008ade358794be8b742aa4e01477736_9366/ED7820_01_laydown.jpg" alt="">
                                </div>
                                <i class="far fa-heart product-icon"></i>
                                <div class="gl-product-card__details">
                                    <div class="price">650.000đ</div>
                                    <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                    <div class="manufacturer">Performance</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next">
                </div>
                <div class="swiper-button-prev">
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>


    <!-- Section 9 : Dang Ky -->
    <section class="DangKy mt-10 pt-6">
        <div class="fix-container">
            <div class="thong-tin">
                <div class="title-thontin">
                    <h2>ĐĂNG KÝ NHẬN THÔNG TIN CẬP NHẬT VÀ ƯU ĐÃI QUA EMAIL</h2>
                </div>
                <div class="wallpaperWrapper-btn">
                    <a href="#">Đăng ký nhập bản tin<i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- Footer -->
@Html.Partial("_LayoutFooter")
