
@{
    ViewBag.Title = "Đặt Hàng";
    Layout = "~/Views/Shared/_Layout_clinet.cshtml";
}

<div class="header-Dathang">
    <div class="container-dathang">
        <div class="header-bottom">
            <div class="giohang checkout-steps">
                <a href="@Url.Action("Index", "GioHang")">
                    <span class="cart-step">1</span>
                    <span>Giỏ hàng</span>
                </a>
            </div>
            <div class="giaohang checkout-steps">
                <a href="#">
                    <span class="cart-step">2</span>
                    <span>Giao hàng</span>
                </a>
            </div>
            <div class="thanhtoan checkout-steps">
                <a href="#">
                    <span class="cart-step">3</span>
                    <span>Thanh toán</span>
                </a>
            </div>
            <div class="hoanthanhdonhang checkout-steps">
                <a href="#">
                    <span class="cart-step">4</span>
                    <span>Hoàn thành đơn hàng</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="checkout_page___bUohj">
    <div class="container-dathang">
        <div class="row no-gutters">
            <div class="col-lg-8 col-md-12 col-12 no-gutters">
                <form method="post" class="form-horizontal list list-top form-margin-ip">
                    <div class="row no-gutters">
                        <h4 class="col-12">Thông tin giao hàng</h4>

                        <div class="row no-gutters vspace-bpall-small">
                            <div class="no-gutters col-lg-6 col-md-6 col-12 left___2dtmj">
                                <input type="text" placeholder="TÊN">
                            </div>
                            <div class="no-gutters col-lg-6 col-md-6 col-12 right___2dtmj">
                                <input type="text" placeholder="HỌ">
                            </div>
                        </div>

                        <div class="no-gutters col-lg-12 col-12 vspace-bpall-small">
                            <input type="text" placeholder="SỐ NHÀ/TÊN ĐƯỜNG">
                        </div>

                        <div class="no-gutters col-12 vspace-bpall-small">
                            <input type="text" placeholder="TÊN TÒA NHÀ/SỐ TẦNG">
                        </div>

                        <div class="row no-gutters">
                            <div class="no-gutters col-lg-6 col-md-6 col-12 left___2dtmj  vspace-bpall-small">
                                <input type="text" placeholder="THÀNH PHỐ/TỈNH">
                            </div>
                            <div class="no-gutters col-lg-6 col-md-6 col-12 right___2dtmj  vspace-bpall-small">
                                <input type="text" placeholder="QUẬN">
                            </div>
                        </div>

                        <div class="row no-gutters">
                            <div class="no-gutters col-lg-6 col-md-6 col-12 left___2dtmj  vspace-bpall-small">
                                <input type="text" placeholder="PHƯỜNG">
                            </div>
                            <div class="no-gutters col-lg-6 col-md-6 col-12 right___2dtmj  vspace-bpall-small">
                                <input type="text" placeholder="MÃ BƯU CHÍNH">
                            </div>
                        </div>

                        <div class="row">
                            <div class="QuocGia  vspace-bpall-small">
                                <strong>Quốc Gia: </strong>
                                <span>Việt Nam</span>
                            </div>
                        </div>

                        <div class="wallpaperWrapper-list vspace-bpall-small">
                            <a href="#">Thanh toán</a>
                            <i class="fas fa-arrow-right"></i>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <div class="gl-vspace-bpall-medium">
                    <div class="panel___xt5K-">
                        <h4>đăng nhập</h4>
                        <form action="" method="post" class="form-horizontal list list-top">
                            <div class="row no-gutters">
                                <div class="no-gutters col-lg-12 col-12 vspace-bpall-small">
                                    <input type="text" placeholder="Email">
                                </div>

                                <div class="no-gutters col-12 vspace-bpall-small">
                                    <input type="text" placeholder="Mật Khẩu">
                                </div>

                                <div class="wallpaperWrapper-list vspace-bpall-small">
                                    <a href="#">đăng nhập</a>
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="panel___xt5K- panel___xt5K-1">
                        <div class="list-chitiet reset-list">
                            <div class="border-list">
                                <h2>Tóm tắt đơn hàng</h2>
                                <div class="price">
                                    <span>4 Loại sản phẩm</span>
                                    <span>22.000.000đ</span>
                                </div>
                                <div class="GiaoHang">
                                    <span>Giao Hàng</span>
                                    <span>Miễn Phí</span>
                                </div>
                                <div class="tongtien">
                                    <span>tổng</span>
                                    <span>14.000.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="Chitietdonhang form-margin-ip">
                        <div class="title">
                            <h5>CHI TIẾT ĐƠN HÀNG</h5>
                        </div>

                        <!-- Đơn hàng 1 -->
                        <div class="col-lg-12 col-md-12 no-gutterss">
                            <div class="gl-vspace-bpall">
                                <div class="line-item___17jCq line-item__border-redesign___R1Xnz row">
                                    <div class="no-gutterss col-lg-4 col-md-4 col-5 line-item__image-sizing-wrapper___3pOdx">
                                        <a href="/vi/giày-nmd_r1/GV8422.html?forceSelSize=GV8422_590&amp;quantity=7" class="line-item__image-wrapper___2p-EQ">
                                            <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/3b3fe645626949d38b3dad4901167df9_9366/GV8422_590_GV8422_01_standard.jpg.jpg?sh=364&amp;strip=false&amp;sw=364" alt="Giày NMD_R1" data-auto-id="glass-cart-line-item-image">
                                        </a>
                                    </div>

                                    <div class="no-gutterss col-lg-8 col-md-8 col-7">
                                        <div class="line-item__details-row___3Zur_  no-gutterss">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-12">
                                                    <div class="line-item__details___3uoZ5">
                                                        <div class="line-item__title-row___1-PEZ">
                                                            <span class="Product-name Product-name-1">Tên giày</span>
                                                            <span class="Product-price Product-price-1">25.000.000</span>
                                                        </div>
                                                        <div class="item__attribute___1qTmy item__attribute___1qTmy-1">
                                                            <span>CORE BLACK / CORE BLACK / RED</span>
                                                        </div>
                                                        <div class="item__attribute">
                                                            <div class="line-item__title-row-kickco line-item__title-row-kickco-1">
                                                                <span>
                                                                    Kích cỡ:</spam>
                                                                    <span>6.5UK</span>
                                                            </div>
                                                            <span class="line-item line-item-1">1.888.000đ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Đơn hàng 2 -->
                        <div class="col-lg-12 col-md-12 no-gutterss">
                            <div class="gl-vspace-bpall">
                                <div class="line-item___17jCq line-item__border-redesign___R1Xnz row">
                                    <div class="no-gutterss col-lg-4 col-md-4 col-5 line-item__image-sizing-wrapper___3pOdx">
                                        <a href="/vi/giày-nmd_r1/GV8422.html?forceSelSize=GV8422_590&amp;quantity=7" class="line-item__image-wrapper___2p-EQ">
                                            <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/3b3fe645626949d38b3dad4901167df9_9366/GV8422_590_GV8422_01_standard.jpg.jpg?sh=364&amp;strip=false&amp;sw=364" alt="Giày NMD_R1" data-auto-id="glass-cart-line-item-image">
                                        </a>
                                    </div>

                                    <div class="no-gutterss col-lg-8 col-md-8 col-7">
                                        <div class="line-item__details-row___3Zur_  no-gutterss">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-12">
                                                    <div class="line-item__details___3uoZ5">
                                                        <div class="line-item__title-row___1-PEZ">
                                                            <span class="Product-name Product-name-1">Tên giày</span>
                                                            <span class="Product-price Product-price-1">25.000.000</span>
                                                        </div>
                                                        <div class="item__attribute___1qTmy item__attribute___1qTmy-1">
                                                            <span>CORE BLACK / CORE BLACK / RED</span>
                                                        </div>
                                                        <div class="item__attribute">
                                                            <div class="line-item__title-row-kickco line-item__title-row-kickco-1">
                                                                <span>
                                                                    Kích cỡ:</spam>
                                                                    <span>6.5UK</span>
                                                            </div>
                                                            <span class="line-item line-item-1">1.888.000đ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Đơn hàng 3 -->
                        <div class="col-lg-12 col-md-12 no-gutterss">
                            <div class="gl-vspace-bpall">
                                <div class="line-item___17jCq line-item__border-redesign___R1Xnz row">
                                    <div class="no-gutterss col-lg-4 col-md-4 col-5 line-item__image-sizing-wrapper___3pOdx">
                                        <a href="/vi/giày-nmd_r1/GV8422.html?forceSelSize=GV8422_590&amp;quantity=7" class="line-item__image-wrapper___2p-EQ">
                                            <img src="https://assets.adidas.com/images/w_280,h_280,f_auto,q_auto:sensitive/bab925ce4f0b4a2db723ad2c00c488fc_9366/GX0999_600_GX0999_01_standard.jpg.jpg?sh=364&strip=false&sw=364" alt="Giày NMD_R1" data-auto-id="glass-cart-line-item-image">
                                        </a>
                                    </div>

                                    <div class="no-gutterss col-lg-8 col-md-8 col-7">
                                        <div class="line-item__details-row___3Zur_  no-gutterss">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-12">
                                                    <div class="line-item__details___3uoZ5">
                                                        <div class="line-item__title-row___1-PEZ">
                                                            <span class="Product-name Product-name-1">Tên giày</span>
                                                            <span class="Product-price Product-price-1">25.000.000</span>
                                                        </div>
                                                        <div class="item__attribute___1qTmy item__attribute___1qTmy-1">
                                                            <span>CORE BLACK / CORE BLACK / RED</span>
                                                        </div>
                                                        <div class="item__attribute">
                                                            <div class="line-item__title-row-kickco line-item__title-row-kickco-1">
                                                                <span>
                                                                    Kích cỡ:</spam>
                                                                    <span>6.5UK</span>
                                                            </div>
                                                            <span class="line-item line-item-1">1.888.000đ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* Footer *@
@Html.Partial("_LayoutFooter_1")
