
@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_Layout_clinet.cshtml";
}

<!-- Product-Category -->
<div class="Product-Category">
    <div class="row">
        <div class="col-lg-9">
            <div class="banner-top">
                <ul>
                    <li>
                        <i class="fas fa-long-arrow-alt-left"></i>
                        <a href="../../Html/TrangChu/index.html">Trở lại</a>
                    </li>

                    <li>
                        <a href="#">Trang chủ</a>
                    </li>

                    <li>
                        <span>/</span>
                    </li>

                    <li>

                        <a href="../ListProduct/indexListProduct.html">Nam</a>
                    </li>

                    <li>
                        <span>/</span>
                    </li>

                    <li>

                        <a href="#">Nữ</a>
                    </li>
                </ul>
            </div>

            <!-- Slider -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1">
                        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/3b3fe645626949d38b3dad4901167df9_9366/Giay_NMD_R1_DJen_GV8422_01_standard.jpg" alt="">

                    </li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                </ol>
                <div class="carousel-inner">
                    <!-- slide 1 -->
                    <div class="carousel-item active">
                        <div class="view___CgbJj">
                            <div class="desktop-zoom____xoVU">
                                <div class="content___1wmQY">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/3b3fe645626949d38b3dad4901167df9_9366/Giay_NMD_R1_DJen_GV8422_01_standard.jpg" alt="">
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- slide 2 -->
                    <div class="carousel-item">
                        <div class="view___CgbJj">
                            <div class="desktop-zoom____xoVU">
                                <div class="content___1wmQY">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/0f10cbac33da47959029ad7901014759_9366/Giay_NMD_R1_DJen_GV8422_HM1_hover.jpg" alt="">
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- slide 3 -->
                    <div class="carousel-item">
                        <div class="view___CgbJj">
                            <div class="desktop-zoom____xoVU">
                                <div class="content___1wmQY">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/d063035c43954d89bf3aad7901014853_9366/Giay_NMD_R1_DJen_GV8422_HM2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- slide 4 -->
                    <div class="carousel-item">
                        <div class="view___CgbJj">
                            <div class="desktop-zoom____xoVU">
                                <div class="content___1wmQY">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/d063035c43954d89bf3aad7901014853_9366/Giay_NMD_R1_DJen_GV8422_HM2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- slide 5 -->
                    <div class="carousel-item">
                        <div class="view___CgbJj">
                            <div class="desktop-zoom____xoVU">
                                <div class="content___1wmQY">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/3250c7546ea74bb5a40aad790101480d_9366/Giay_NMD_R1_DJen_GV8422_HM3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- slide 6 -->
                    <div class="carousel-item">
                        <div class="view___CgbJj">
                            <div class="desktop-zoom____xoVU">
                                <div class="content___1wmQY">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/8b6969ea809f4ad5a827ad7901014738_9366/Giay_NMD_R1_DJen_GV8422_HM4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- slide 7 -->
                    <div class="carousel-item">
                        <div class="view___CgbJj">
                            <div class="desktop-zoom____xoVU">
                                <div class="content___1wmQY">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/d063035c43954d89bf3aad7901014853_9366/Giay_NMD_R1_DJen_GV8422_HM2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- slide 8 -->
                    <div class="carousel-item">
                        <div class="view___CgbJj">
                            <div class="desktop-zoom____xoVU">
                                <div class="content___1wmQY">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/a437f52e4e174318bb54ad4901168be6_9366/Giay_NMD_R1_DJen_GV8422_02_standard.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- slide 9 -->
                    <div class="carousel-item">
                        <div class="view___CgbJj">
                            <div class="desktop-zoom____xoVU">
                                <div class="content___1wmQY">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/cb1df66a16d14d21a44dad4901169373_9366/Giay_NMD_R1_DJen_GV8422_03_standard.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true">
                    </span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>


            <!-- Navbar-thong-tin-chi-tiet -->
            <div class="navigation-wrapper___1E4J7">
                <div class="navigation___pjBTo ready___iRWm3">
                    <ul class="list-sukien">
                        <li><a href="#carouselExampleIndicators">Bộ Sưu tập</a></li>
                        <li><a href="#mota">Mô tả</a></li>
                        <li><a href="#thongso">Thông tin chi tiết</a></li>
                        <li><a href="#">Đánh giá</a></li>
                    </ul>
                </div>
            </div>


            <!-- Mô tả -->
            <section class="content-item___1H95n mt-4 pt-4" id="mota">
                <div class="navigation-target-description">
                    <div class="description___2nN4A row">
                        <div class="text-content___1EWJO col-lg-6 col-md-12">
                            <h5 class="heading___IO3QX">Giày NMD_R1</h5>
                            <h5 class="gl-heading--italic">Đôi giày trainer phong cách chạy bộ với thiết kế thanh thoát dành cho nhịp sống hối hả ngày nay.</h5>
                            <p>Có một điều chắc chắn. Đó là thế giới không ngừng thay đổi. Hãy dịch chuyển, thích nghi và hòa nhịp với đôi giày adidas NMD_R1 này. Kết hợp công nghệ hiện đại nhất của adidas với phong cách chạy bộ cổ điển, đôi giày này có đế giữa Boost cho cảm giác êm ái vượt trội và nguồn năng lượng bất tận. Phần viền gót giày đúc tạo độ ổn định giúp bạn dễ dàng chuyển hướng khi kế hoạch thay đổi bất chợt. Mà thể nào chuyện đó cũng xảy ra.</p>
                        </div>
                        <div class="media___1ux-z col-lg-6 col-md-12">
                            <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/a387ee0af52f475ea42cad4901169aca_9366/Giay_NMD_R1_DJen_GV8422.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>


            <!-- Thong so -->
            <section class="content-item___1H95n pt-6 mt-6" id="thongso">
                <div class="navigation-target-specifications">
                    <div class="specifications___1XaPk">
                        <h5 class="heading___IO3QX">Thông số</h5>
                        <div class="bullets___NV9iB">
                            <ul class="gl-list gl-list--s">
                                <li class="gl-vspace-bpall-small"><i class="fas fa-plus"></i><span>Có dây giày</span>  </li>
                                <li class="gl-vspace-bpall-small"><i class="fas fa-plus"></i><span>Thân giày bằng vải dệt</span></li>
                                <li class="gl-vspace-bpall-small"><i class="fas fa-plus"></i><span>Đế giữa Boost</span></li>
                            </ul>
                            <ul class="gl-list gl-list--s">
                                <li class="gl-vspace-bpall-small"><i class="fas fa-plus"></i><span>Đế ngoài bằng cao su</span></li>
                                <li class="gl-vspace-bpall-small"><i class="fas fa-plus"></i><span>Màu sản phẩm: Core Black / Core Black / Red</span></li>
                                <li class="gl-vspace-bpall-small"><i class="fas fa-plus"></i><span>Mã sản phẩm: GV8422</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <div class="col-lg-3">
            <div class="sidebar-wrapper___26z7B">
                <div class="sidebar___2C-EP">
                    <div class="product-description___2cJO2">
                        <h1 class="product-name">GIÀY NMD_R1</h1>
                        <div class="color-and-price___2q0A2">
                            <h5 class="prodcut-color">Red</h5>
                            <h4 class="prodcut-price">3.666.000 đ</h4>
                        </div>
                    </div>
                    <div class="buy-section___yYtjH">
                        <h4 class="product-size">Chọn size</h4>
                        <div class="sizes___3Stmf" data-auto-id="size-selector">
                            <button class="gl-label size___TqqSo"><span>3.5 UK</span></button>
                            <button class="gl-label size___TqqSo"><span>4.5 UK</span></button>
                            <button class="gl-label size___TqqSo"><span>5 UK</span></button>
                            <button class="gl-label size___TqqSo"><span>5.5 UK</span></button>
                            <button class="gl-label size___TqqSo"><span>6 UK</span></button>
                            <button class="gl-label size___TqqSo"><span>6.5 UK</span></button>
                            <button class="gl-label size___TqqSo"><span>7 UK</span></button>
                            <button class="gl-label size___TqqSo">
                                <span>7.5 UK</span>
                            </button><button class="gl-label size___TqqSo"><span>8 UK</span></button>
                            <button class="gl-label size___TqqSo"><span>8.5 UK</span></button>
                            <button class="gl-label size___TqqSo"><span>9 UK</span></button>
                            <button class="gl-label size___TqqSo">
                                <span>9.5 UK</span>
                            </button><button class="gl-label size___TqqSo"><span>10 UK</span></button>
                            <button class="gl-label size___TqqSo"><span>10.5 UK</span></button>
                        </div>
                        <div class="add-to-bag___3wgQk">
                            <div class="Order">
                                <a href="@Url.Action("Index", "GioHang")">Thêm vào giỏ hàng</a>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                            <div class="heart">
                                <i class="far fa-heart"></i>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-callout-stack">
                        <div class="maskable-content___3AqN4">
                            <span>GIAO HÀNG MIỄN PHÍ / GIAO HÀNG MIỄN PHÍ</span>
                        </div>
                        <div class="maskable-content___3AqN4">
                            <span>
                                Không đúng kích cỡ hoặc màu sắc? Vui lòng truy cập trang Trả lại hàng & Hoàn tiền của chúng tôi để biết chi tiết
                            </span>
                        </div>
                        <div class="maskable-content___3AqN4">
                            <span>Do ảnh hưởng COVID-19, thời gian giao hàng sẽ dài hơn dự kiến</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product Xem Gần Đây -->
<div class="row fix-row">
    <div class="col-lg-9">
        <section class="Product_balo best-of-adidas New_Porduct mt-6 pt-6 mt-6">
            <div class="fix-container product-ganday">
                <div class="new-top">
                    <h2 class="title">Sản phẩm gần đây</h2>
                    <h4 class="review"><a href="#">View ALL</a></h4>
                </div>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-spmoi">
                            <div class="product">
                                <a href="">
                                    <div class="product-image">
                                        <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/3b3fe645626949d38b3dad4901167df9_9366/Giay_NMD_R1_DJen_GV8422_01_standard.jpg" alt="">
                                    </div>
                                    <i class="far fa-heart product-icon"></i>
                                    <div class="gl-product-card__details">
                                        <div class="price">650.000đ</div>
                                        <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                        <div class="manufacturer">Performance</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide swiper-spmoi">
                            <div class="product">
                                <a href="">
                                    <div class="product-image">
                                        <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/bab925ce4f0b4a2db723ad2c00c488fc_9366/Giay_NMD_R1_trang_GX0999_01_standard.jpg" alt="">
                                    </div>
                                    <i class="far fa-heart product-icon"></i>
                                    <div class="gl-product-card__details">
                                        <div class="price">650.000đ</div>
                                        <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                        <div class="manufacturer">Performance</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide swiper-spmoi">
                            <div class="product">
                                <a href="">
                                    <div class="product-image">
                                        <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/500006597a33495fbc86ad2c00c4e94c_9366/Giay_Forum_Low_trang_GX1018_01_standard.jpg" alt="">
                                    </div>
                                    <i class="far fa-heart product-icon"></i>
                                    <div class="gl-product-card__details">
                                        <div class="price">650.000đ</div>
                                        <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                        <div class="manufacturer">Performance</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide swiper-spmoi">
                            <div class="product">
                                <a href="">
                                    <div class="product-image">
                                        <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/500006597a33495fbc86ad2c00c4e94c_9366/Giay_Forum_Low_trang_GX1018_01_standard.jpg" alt="">
                                    </div>
                                    <i class="far fa-heart product-icon"></i>
                                    <div class="gl-product-card__details">
                                        <div class="price">650.000đ</div>
                                        <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                        <div class="manufacturer">Performance</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide swiper-spmoi">
                            <div class="product">
                                <a href="">
                                    <div class="product-image">
                                        <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/ec0b19ad7469423bb8e2ad2c00cae6b2_9366/Giay_Forum_Mid_trang_GX1021_01_standard.jpg" alt="">
                                    </div>
                                    <i class="far fa-heart product-icon"></i>
                                    <div class="gl-product-card__details">
                                        <div class="price">650.000đ</div>
                                        <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                        <div class="manufacturer">Performance</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide swiper-spmoi">
                            <div class="product">
                                <a href="">
                                    <div class="product-image">
                                        <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/c2f25ff6d7084c699b83acf400a1a7d2_9366/Giay_Zentic_Mau_vang_GZ6983_01_standard.jpg" alt="">
                                    </div>
                                    <i class="far fa-heart product-icon"></i>
                                    <div class="gl-product-card__details">
                                        <div class="price">650.000đ</div>
                                        <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                        <div class="manufacturer">Performance</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide swiper-spmoi">
                            <div class="product">
                                <a href="">
                                    <div class="product-image">
                                        <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/42b4291e78a6420baba6acf4009b5e16_9366/Giay_Zentic_DJen_GX0417_01_standard.jpg" alt="">
                                    </div>
                                    <i class="far fa-heart product-icon"></i>
                                    <div class="gl-product-card__details">
                                        <div class="price">650.000đ</div>
                                        <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                        <div class="manufacturer">Performance</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide swiper-spmoi">
                            <div class="product">
                                <a href="">
                                    <div class="product-image">
                                        <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/7445d7d8438b4a04b479ad2c00c4b66f_9366/Giay_ZX_2K_Boost_2.0_trang_GX1007_01_standard.jpg" alt="">
                                    </div>
                                    <i class="far fa-heart product-icon"></i>
                                    <div class="gl-product-card__details">
                                        <div class="price">650.000đ</div>
                                        <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                        <div class="manufacturer">Performance</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide swiper-spmoi">
                            <div class="product">
                                <a href="">
                                    <div class="product-image">
                                        <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/9973aa5fbe6147938f02ad9e015da722_9366/YEEZY_BOOST_700_MNVN_trai_cam_GZ0717_01_standard.jpg" alt="">
                                    </div>
                                    <i class="far fa-heart product-icon"></i>
                                    <div class="gl-product-card__details">
                                        <div class="price">650.000đ</div>
                                        <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                        <div class="manufacturer">Performance</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide swiper-spmoi">
                            <div class="product">
                                <a href="">
                                    <div class="product-image">
                                        <img src="https://assets.adidas.com/images/w_276,h_276,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/cf659eee859644a993b1ad160171d785_9366/Dep_adilette_Hong_GY8288_01_standard.jpg" alt="">
                                    </div>
                                    <i class="far fa-heart product-icon"></i>
                                    <div class="gl-product-card__details">
                                        <div class="price">650.000đ</div>
                                        <div class="product-name">Ba Lô 3 Sọc Badge of Sport Classic</div>
                                        <div class="manufacturer">Performance</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next">
                    </div>
                    <div class="swiper-button-prev">
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-3">

    </div>
</div>

<!-- Dang ky -->
<section class="DangKy mt-10 pt-6">
    <div class="fix-container">
        <div class="thong-tin">
            <div class="title-thontin">
                <h2>ĐĂNG KÝ NHẬN THÔNG TIN CẬP NHẬT VÀ ƯU ĐÃI QUA EMAIL</h2>
            </div>
            <div class="wallpaperWrapper-btn">
                <a href="#">Đăng ký nhập bản tin<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>


@* Footer *@
@Html.Partial("_LayoutFooter")