<footer class="swiper-footer">
    <div class="fix-container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="title-top">Sản phẩm</div>

                <div class="title-bottom">
                    <ul>
                        <li><a href="">Giày</a></li>
                        <li><a href="">Quần áo</a></li>
                        <li><a href="">Phụ kiện</a></li>
                        <li><a href="">Hàng mới về</a></li>
                        <li><a href="">Áo</a></li>
                        <li><a href="">Quần</a></li>
                        <li><a href="">Áo thun có mũ trùm đầu</a></li>
                        <li><a href="">Túi</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="title-top">Thể thao</div>

                <div class="title-bottom">
                    <ul>
                        <li><a href="">Quần áo tập Gym</a></li>
                        <li><a href="">Áo ngực thể thao</a></li>
                        <li><a href="">Quần tất nữ</a></li>
                        <li><a href="">Quần Sooc tập Gym Dành cho nam</a></li>
                        <li><a href="">Giày bóng đá</a></li>
                        <li><a href="">Giày bóng đá trong nhà</a></li>
                        <li><a href="">Bóng đá</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="title-top">Bộ sưu tập</div>

                <div class="title-bottom">
                    <ul>
                        <li><a href="">Giày Stan Smith</a></li>
                        <li><a href="">Giày Stan SmithGiày Stan Smith</a></li>
                        <li><a href="">Giày Superstar</a></li>
                        <li><a href="">Giày NMD</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="title-top">Thông Tin Về Công Ty</div>

                <div class="title-bottom">
                    <ul>
                        <li><a href="">Giới Thiệu Về Chúng Tôi</a></li>
                        <li><a href="">Cơ Hội Nghề Nghiệp</a></li>
                        <li><a href="">Tin tức</a></li>

                        <li class="title-top">HỖ TRỢ</li>

                        <li><a href="">Trợ Giúp & Dịch Vụ Khách Hàng</a></li>
                        <li><a href="">Giao hàng</a></li>
                        <li><a href="">Thanh toán</a></li>
                        <li><a href="">Trả lại hàng & hoàn tiền</a></li>
                        <li><a href="">Chương trình khuyến mãi</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>