<footer>
    <div class="footer-box">
        <div class="footer-top">
            <a href="">Chính sách bảo mật</a>
            <a href="">Các điều khoản và điều kiện</a>
            <a href="">Thông tin công ty</a>
        </div>
        <div class="footer-bottom">
            <p>© 2021 adidas Vietnam Company Limited</p>
        </div>
    </div>
</footer>