.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
}

/* Phần introduct-top  */
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.introduct-top .col-lg-9 h2 {
    font-size: 1.6em;
    margin-bottom: .4em;
} 

.introduct-top .item {
    margin-top: 2rem;
}

.introduct-top p {
    color: darkgray;
}

.introduct-top img {
    width: 100%;
}

/* Phần img_GioiThieu (section 1) */
section .img_GioiThieu {
    background-image: url(/HocTrenLop/Lesson_11/Anh/GioiThieu/96864367-grape-background-dark-grape-blue-grape-wine-grape-with-drops-.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
}

.img_GioiThieu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000e0;
}

.wapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.wapper img {
    opacity: 1 !important;
}

.item1 {
    padding: 4rem 0 4rem 0;
}

.img_GioiThieu h2 {
    color: white;
    font-size: 1.2rem;
}

.img_GioiThieu .text-right {
    text-align: right;
}

.img_GioiThieu img {
    width: 100%;
}

.img_GioiThieu .text {
    width: 96%;
    top: 40%;
    position: relative;
    transform: translateY(-40%);
}

.img_GioiThieu .text-left-1 {
    margin-left: 1rem;
    float: right;
}

.img_GioiThieu .text  p{
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.img_GioiThieu .text-left {
    text-align: left;
    margin: 0;
    line-height: 2.4rem;
}

.img_GioiThieu p {
    color: white;
    float: left;
}

.p-0 {
    line-height: 1rem !important;
}


/* Phần history */
.history {
    width: 100%;
    margin-bottom: 20rem;
}

.history .d-md-flex {
    background: #000;
    padding: 4px 0;
    margin-bottom: 1em;
}

.history .box-title {
    background: #A53E4C;
}

.history .box-title ul {
    list-style: none;
    margin: 0;
}

.history .box-title li {
    padding: .7em 0;
    position: relative;
    cursor: pointer;
    color: white;
}

.history .box-title h3 {
    font-size: 1.8em;
    color: #ffff;
    padding: .2em 1em 0 1em;
}

.history .box-title li.active::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 90%;
    left: 5%;
    height: 4px;
    background: #A53E4C;
}

.history .box-title li.active::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    content: "";
    left: 0;
    top: calc(100% + 4px);
    margin: auto;
    position: absolute;
    right: 0;
    width: 0;
    border-top-color: #A53E4C;
}   

.history .box-title li:hover::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 90%;
    left: 5%;
    height: 4px;
    background: #A53E4C;
}

.history .box-title li:hover::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    content: "";
    left: 0;
    top: calc(100% + 4px);
    margin: auto;
    position: absolute;
    right: 0;
    width: 0;
    border-top-color: #A53E4C;
}   

.history .box-title li span {
    padding: .4em 1.7em;
    font-size: 1.1em;
    color: #fff;
    border-left: 1px solid #ffff;
}

.history .box-title li:first-child span {
    border: 0;
}

.history .box-title a {
   text-decoration: none;
}

.tab_pane {
    display: none;
}

.tab_pane.active {
    display: block;
}

.tab_pane img {
    width: 100%;
}

#box-content {
    padding: 3rem 0;
}


/* Phần introduct-bottom */
.introduct-bottom {
    width: 100%;
    min-height: 580px;
    background-image: url(https://vietywine.com/Content/WebContent/anhBg/gioi-thieu-ham-ruou.jpg);
    background-size: cover;
    background-position: cover;
    position: relative;
    overflow: hidden;
}

.wrapper {
    padding: 4em 2em 2em 2em;
}

.introduct-bottom .content1 {
    padding: 30px;
    background: rgba(165, 62, 76, 0.9);
    color: #fff;
    padding-bottom: 1em;
}

.introduct-bottom .content1 .text {
    border-bottom: 2px solid #fff;
    padding-bottom: 1em;
}

.introduct-bottom .content1:last-child {
    padding-top: 0;
}

@keyframes dixuong {
    10% {
        transform: translateY(-60px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animation-top {
    animation: dixuong 2s forwards;
    transition: 2s;
}

@keyframes dilen {
    10% {
        transform: translateY(60px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animation-bottom {
    animation: dilen 2s forwards;
    transition: 2s;
}

@keyframes disangtrai {
    10% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animation-left {
    animation: disangtrai 2s forwards;
    transition: 2s;
}



@media only screen and (max-width: 991px){
    html{
        font-size: 14px;
    }
    section .row{
        display: flex;
        flex-wrap: wrap;
    }
    .col-md-6 {
        max-width: 100%;
    }
    .content {
        padding: 0em 2em 2em 2em;
    }
}

@media only screen and (max-width: 767px) {
    html{
        font-size: 12px;
    }
    section .row{
        display: flex;
        flex-wrap: wrap;
    }
}

