
@{
    ViewBag.Title = "Danh Sách Sản Phẩm";
    Layout = "~/Views/Shared/_Layout_clinet.cshtml";
}


<div class="main">
    <div class="container-fix">
        <div class="banner-top banner-fix-top fix-row-ip__">
            <ul>
                <li>
                    <i class="fas fa-long-arrow-alt-left"></i>
                    <a href="../../Html/TrangChu/index.html">Trở lại</a>
                </li>

                <li>
                    <a href="#">Trang chủ</a>
                </li>

                <li>
                    <span>/</span>
                </li>

                <li>
                    <a href="#">Nam</a>
                </li>

                <li>
                    <span>/</span>
                </li>

                <li>
                    <a href="#">Nữ</a>
                </li>
            </ul>

            <div class="product-title">
                <h2>Giầy Nam</h2>
            </div>
        </div>

        <!-- List Product -->
        <div class="listProduct">
            <div class="row no-gutters fix-row-ip__">

                <!-- Product 1 -->
                <div class="col-lg-3 col-md-4 col-6 no-gutter">
                    <div class="product">
                        <div class="product-top">
                            <div class="product-images-1__z-2 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/8453a9e0695644ae9002ad2100ad29c9_9366/gi%C3%A0y-ultraboost-21.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-images-1__z-3 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/2528244a96904403a1b1acb8009c1e61_9366/Giay_UltraBoost_21_Xam_FZ2559_01_standard.jpg" alt="">
                                </a>
                            </div>
                            <div class="cacicon">
                                <i class="far fa-heart" aria-hidden="true"></i>
                            </div>
                            <a href="../Product/index.html" class="nut">Xem chi tiết</a>
                        </div>

                        <div class="product-details">
                            <div class="product-details-p-1">
                                <a href="" class="product-name">Comfortable Brown Scart</a>
                                <span class="price">$140.000</span>
                                <div class="ratings-container">
                                    <div class="left-icon">
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <a href="#" class="review">( 12 reviews )</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 2 -->
                <div class="col-lg-3 col-md-4 col-6 no-gutter">
                    <div class="product">
                        <div class="product-top">
                            <div class="product-images-1__z-2 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/58d3ebdf9dd94e7c80c9ad0b01060339_9366/Giay_Chay_Bo_UltraBoost_21_Tokyo_trang_S23863_01_standard.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-images-1__z-3 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/f94cf89e61d7466ba402acb8010dd70a_9366/Giay_UltraBoost_21_trang_S23708_01_standard.jpg" alt="">
                                </a>
                            </div>
                            <div class="cacicon">
                                <i class="far fa-heart" aria-hidden="true"></i>
                            </div>
                            <a href="@Url.Action("Index", "Product_Details")" class="nut">Xem chi tiết</a>
                        </div>

                        <div class="product-details">
                            <div class="product-details-p-1">
                                <a href="" class="product-name">Comfortable Brown Scart</a>
                                <span class="price">$140.000</span>
                                <div class="ratings-container">
                                    <div class="left-icon">
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <a href="#" class="review">( 12 reviews )</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 3 -->
                <div class="col-lg-3 col-md-4 col-6 no-gutter">
                    <div class="product">
                        <div class="product-top">
                            <div class="product-images-1__z-2 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/d087e1ac8a034832bcd2ab97004e25a0_9366/superstar.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-images-1__z-3 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/a4b6809b8f604e5eb4b0abb10167de17_9366/superstar.jpg" alt="">
                                </a>
                            </div>
                            <div class="cacicon">
                                <i class="far fa-heart" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="nut">Xem chi tiết</a>
                        </div>

                        <div class="product-details">
                            <div class="product-details-p-1">
                                <a href="" class="product-name">Comfortable Brown Scart</a>
                                <span class="price">$140.000</span>
                                <div class="ratings-container">
                                    <div class="left-icon">
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <a href="#" class="review">( 12 reviews )</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 4 -->
                <div class="col-lg-3 col-md-4 col-6 no-gutter">
                    <div class="product">
                        <div class="product-top">
                            <div class="product-images-1__z-2 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/58d3ebdf9dd94e7c80c9ad0b01060339_9366/gi%C3%A0y-ch%E1%BA%A1y-b%E1%BB%99-ultraboost-21-tokyo.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-images-1__z-3 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/w_85,h_85,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/d6461399220a46509e84ad33011d8b6d_9366/gi%C3%A0y-ultraboost-21.jpg" alt="">
                                </a>
                            </div>
                            <div class="cacicon">
                                <i class="far fa-heart" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="nut">quick view</a>
                        </div>

                        <div class="product-details">
                            <div class="product-details-p-1">
                                <a href="" class="product-name">Comfortable Brown Scart</a>
                                <span class="price">$140.000</span>
                                <div class="ratings-container">
                                    <div class="left-icon">
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <a href="#" class="review">( 12 reviews )</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 5 -->
                <div class="col-lg-3 col-md-4 col-6 no-gutter">
                    <div class="product">
                        <div class="product-top">
                            <div class="product-images-1__z-2 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/8d3ab16a86e64571b405aad600bad099_9366/gi%C3%A0y-superstar.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-images-1__z-3 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/c9dbad5f70274124a213aad600babd86_9366/gi%C3%A0y-superstar.jpg" alt="">
                                </a>
                            </div>
                            <div class="cacicon">
                                <i class="far fa-heart" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="nut">Xem chi tiết</a>
                        </div>

                        <div class="product-details">
                            <div class="product-details-p-1">
                                <a href="" class="product-name">Comfortable Brown Scart</a>
                                <span class="price">$140.000</span>
                                <div class="ratings-container">
                                    <div class="left-icon">
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <a href="#" class="review">( 12 reviews )</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 6 -->
                <div class="col-lg-3 col-md-4 col-6 no-gutter">
                    <div class="product">
                        <div class="product-top">
                            <div class="product-images-1__z-2 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/674b18d5d7e54b8cb333acbd0121dbac_9366/gi%C3%A0y-zx-1k-boost-pride.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-images-1__z-3 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/37ded97f84d04274ab14acbd0120e9dd_9366/gi%C3%A0y-zx-1k-boost-pride.jpg" alt="">
                                </a>
                            </div>
                            <div class="cacicon">
                                <i class="far fa-heart" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="nut">Xem chi tiết</a>
                        </div>

                        <div class="product-details">
                            <div class="product-details-p-1">
                                <a href="" class="product-name">Comfortable Brown Scart</a>
                                <span class="price">$140.000</span>
                                <div class="ratings-container">
                                    <div class="left-icon">
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <a href="#" class="review">( 12 reviews )</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 7 -->
                <div class="col-lg-3 col-md-4 col-6 no-gutter">
                    <div class="product">
                        <div class="product-top">
                            <div class="product-images-1__z-2 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/9a60e45e28dd45d5844daca601139217_9366/gi%C3%A0y-ultraboost-21.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-images-1__z-3 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/07bb839ea2b64cac8ae7aca60111e1c6_9366/Giay_UltraBoost_21_trang_FY0379_02_standard.jpg" alt="">
                                </a>
                            </div>
                            <div class="cacicon">
                                <i class="far fa-heart" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="nut">Xem chi tiết</a>
                        </div>

                        <div class="product-details">
                            <div class="product-details-p-1">
                                <a href="" class="product-name">Comfortable Brown Scart</a>
                                <span class="price">$140.000</span>
                                <div class="ratings-container">
                                    <div class="left-icon">
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <a href="#" class="review">( 12 reviews )</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 8 -->
                <div class="col-lg-3 col-md-4 col-6 no-gutter">
                    <div class="product">
                        <div class="product-top">
                            <div class="product-images-1__z-2 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/5aed377e0fa14858870eac98011e0547_9366/Giay_UltraBoost_21_DJo_FY0387_01_standard.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-images-1__z-3 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/bf6ea01ebae74d1aaf5fac98011e10b7_9366/Giay_UltraBoost_21_DJo_FY0387_02_standard_hover.jpg" alt="">
                                </a>
                            </div>
                            <div class="cacicon">
                                <i class="far fa-heart" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="nut">Xem chi tiết</a>
                        </div>

                        <div class="product-details">
                            <div class="product-details-p-1">
                                <a href="" class="product-name">Comfortable Brown Scart</a>
                                <span class="price">$140.000</span>
                                <div class="ratings-container">
                                    <div class="left-icon">
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <a href="#" class="review">( 12 reviews )</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 9 -->
                <div class="col-lg-3 col-md-4 col-6 no-gutter">
                    <div class="product">
                        <div class="product-top">
                            <div class="product-images-1__z-2 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/d28d41a490b84435ac71ac7900ab8b14_9366/Giay_UltraBoost_21_Mau_xanh_da_troi_FZ1926_01_standard.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-images-1__z-3 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/b25ff583f1a445f0a3dfac7900d34096_9366/Giay_UltraBoost_21_Mau_xanh_da_troi_FZ1926_09_standard.jpg" alt="">
                                </a>
                            </div>
                            <div class="cacicon">
                                <i class="far fa-heart" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="nut">Xem chi tiết</a>
                        </div>

                        <div class="product-details">
                            <div class="product-details-p-1">
                                <a href="" class="product-name">Comfortable Brown Scart</a>
                                <span class="price">$140.000</span>
                                <div class="ratings-container">
                                    <div class="left-icon">
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <a href="#" class="review">( 12 reviews )</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product 10 -->
                <div class="col-lg-3 col-md-4 col-6 no-gutter">
                    <div class="product">
                        <div class="product-top">
                            <div class="product-images-1__z-2 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/d28d41a490b84435ac71ac7900ab8b14_9366/Giay_UltraBoost_21_Mau_xanh_da_troi_FZ1926_01_standard.jpg" alt="">
                                </a>
                            </div>
                            <div class="product-images-1__z-3 product-images-1_zc">
                                <a href="#">
                                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/b25ff583f1a445f0a3dfac7900d34096_9366/Giay_UltraBoost_21_Mau_xanh_da_troi_FZ1926_09_standard.jpg" alt="">
                                </a>
                            </div>
                            <div class="cacicon">
                                <i class="far fa-heart" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="nut">Xem chi tiết</a>
                        </div>

                        <div class="product-details">
                            <div class="product-details-p-1">
                                <a href="" class="product-name">Comfortable Brown Scart</a>
                                <span class="price">$140.000</span>
                                <div class="ratings-container">
                                    <div class="left-icon">
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star activer" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                    <a href="#" class="review">( 12 reviews )</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section : Dang Ky -->
<section class="DangKy mt-10 pt-6">
    <div class="fix-container">
        <div class="thong-tin">
            <div class="title-thontin">
                <h2>ĐĂNG KÝ NHẬN THÔNG TIN CẬP NHẬT VÀ ƯU ĐÃI QUA EMAIL</h2>
            </div>
            <div class="wallpaperWrapper-btn">
                <a href="#">Đăng ký nhập bản tin<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
@Html.Partial("_LayoutFooter")